[submodule "dotfiles/vim/bundle/snippets"]
	path = dotfiles/vim/bundle/snippets
	url = https://github.com/honza/vim-snippets/
[submodule "dotfiles/vim/bundle/neocomplete"]
	path = dotfiles/vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "dotfiles/vim/bundle/neosnippet"]
	path = dotfiles/vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim
[submodule "dotfiles/vim/bundle/neocomplete-ultisnips"]
	path = dotfiles/vim/bundle/neocomplete-ultisnips
	url = https://github.com/asmod3us/neocomplete-ultisnips
[submodule "dotfiles/shell/base16-shell"]
	path = dotfiles/shell/base16-shell
	url = https://github.com/chriskempson/base16-shell
