[submodule "dotfiles/vim/bundle/syntastic"]
	path = dotfiles/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotfiles/vim/bundle/scss-syntax"]
	path = dotfiles/vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/vim/bundle/zencoding"]
	path = dotfiles/vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim
[submodule "dotfiles/vim/bundle/fugitive"]
	path = dotfiles/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/ctrlp"]
	path = dotfiles/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "dotfiles/vim/bundle/javacomplete"]
	path = dotfiles/vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dotfiles/vim/bundle/less"]
	path = dotfiles/vim/bundle/less
	url = https://github.com/groenewege/vim-less
[submodule "dotfiles/vim/bundle/css3-syntax"]
	path = dotfiles/vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "dotfiles/vim/bundle/markdown"]
	path = dotfiles/vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "dotfiles/vim/bundle/xml"]
	path = dotfiles/vim/bundle/xml
	url = https://github.com/othree/xml.vim
[submodule "dotfiles/vim/bundle/repeat"]
	path = dotfiles/vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "dotfiles/vim/bundle/json"]
	path = dotfiles/vim/bundle/json
	url = https://github.com/elzr/vim-json
[submodule "dotfiles/vim/bundle/coffee-script"]
	path = dotfiles/vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "dotfiles/vim/bundle/numbertoggle"]
	path = dotfiles/vim/bundle/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "dotfiles/vim/bundle/ack"]
	path = dotfiles/vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "dotfiles/vim/bundle/tagbar"]
	path = dotfiles/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "dotfiles/vim/bundle/unimpaired"]
	path = dotfiles/vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/vim/bundle/javascript"]
	path = dotfiles/vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dotfiles/vim/bundle/stylus"]
	path = dotfiles/vim/bundle/stylus
	url = https://github.com/wavded/vim-stylus
[submodule "dotfiles/vim/bundle/jade"]
	path = dotfiles/vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "dotfiles/vim/bundle/tcomment"]
	path = dotfiles/vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule "dotfiles/vim/bundle/node"]
	path = dotfiles/vim/bundle/node
	url = https://github.com/guileen/vim-node
[submodule "dotfiles/vim/bundle/indent-guides"]
	path = dotfiles/vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotfiles/vim/bundle/pathogen"]
	path = dotfiles/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "dotfiles/vim/bundle/vim-web-indent"]
	path = dotfiles/vim/bundle/vim-web-indent
	url = https://github.com/asmod3us/vim-web-indent
[submodule "dotfiles/vim/bundle/jsbeautify"]
	path = dotfiles/vim/bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
[submodule "dotfiles/vim/bundle/ctrlp-matcher"]
	path = dotfiles/vim/bundle/ctrlp-matcher
	url = https://github.com/JazzCore/ctrlp-cmatcher
[submodule "dotfiles/vim/bundle/neocomplcache"]
	path = dotfiles/vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "dotfiles/vim/bundle/easymotion"]
	path = dotfiles/vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "dotfiles/vim/bundle/webapi"]
	path = dotfiles/vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim
[submodule "dotfiles/vim/bundle/gist"]
	path = dotfiles/vim/bundle/gist
	url = https://github.com/mattn/gist-vim

[submodule "dotfiles/vim/bundle/neosnippet"]
	path = dotfiles/vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim
[submodule "dotfiles/vim/bundle/snippets"]
	path = dotfiles/vim/bundle/snippets
	url = https://github.com/honza/vim-snippets/
[submodule "dotfiles/vim/bundle/gitgutter"]
	path = dotfiles/vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "dotfiles/vim/bundle/tmux-navigator"]
	path = dotfiles/vim/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "dotfiles/vim/bundle/airline"]
	path = dotfiles/vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "dotfiles/vim/bundle/solarized"]
	path = dotfiles/vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dotfiles/vim/bundle/base16"]
	path = dotfiles/vim/bundle/base16
	url = https://github.com/chriskempson/base16-vim
