snippet def "define"
define([
	'${1:mids}'
], function(
	${2:names}
) {

	$0

});
endsnippet

snippet req "require"
require([${1:'mids'}], function(${2:names});
endsnippet

snippet decl "declare"
return declare(${1:parent}, {
	$0
});
endsnippet

snippet desc "describe"
describe("$1", function() {
	$0
});
endsnippet

snippet ex "expect"
expect($1).$0;
endsnippet

snippet it "it block"
it("should $1", function() {
	$0    
});
endsnippet

